<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
        crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h3 class="text-muted">How To Upload a File</h3>
            </div>
        </div>
        <form action="upload" method="post" enctype="multipart/form-data">
            <input type="file" multiple="" name="file[]">
            <input type="submit" value="upload">
        </form>
    </body>
</html>
